# During Development stuffs
.vscode/
assets_temp/
build-tools/
export/
build.hxml
hxformat.json

# Useless things
art/backupcodeshit/
CHANGELOG.md

# Whatever is these things
todo.txt
cdev-changelog.txt

# Crash Handler (Old)
crash_handler/src/build
crash_handler/src-old